extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Color Picker'

block script
  script
    | function enableToggleByDoubleClick(picker) {
    |     if (picker.toggleByDoubleClick) {
    |         return;
    |     }
    |     picker.toggleByDoubleClick = true;
    |     // Disable the default blur and focus behavior
    |     picker.on('blur', () => {});
    |     picker.on('focus', () => {});
    |     picker.on('change', function (r, g, b, a) {
    |         this.source.value = this.color(r, g, b, a);
    |     });
    |     document.documentElement.addEventListener('dblclick', () => {
    |         picker.exit();
    |     }, false);
    |     picker.source.addEventListener('dblclick', e => {
    |         picker.enter();
    |         e.stopPropagation();
    |     }, false);
    | }
    |
    | const picker = new CP(document.querySelector('input'));
    |
    | enableToggleByDoubleClick(picker);

block content
  main
    p Show and hide color picker panel with double click.
    p: input(type='text')