extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Color Picker'

block style
  style
    | .color-picker__color {
    |   display: block;
    |   float: left;
    |   width: 10%;
    |   height: 1.25em;
    |   cursor: pointer;
    | }
    |
    | .color-picker__colors {
    |   display: block;
    |   border: 1px solid #000;
    |   border-top-width: 0;
    |   overflow: hidden;
    | }

block script
  script
    | function preDefineColorValues(picker, pickers) {
    |     if (picker.hasColorPallete) {
    |         return;
    |     }
    |     picker.hasColorPallete = true;
    |     let color, colors = document.createElement('span');
    |     for (let i = 0, j = pickers.length; i < j; ++i) {
    |         color = document.createElement('span');
    |         color.className = picker.state.class + '__color';
    |         color.style.backgroundColor = '#' + pickers[i];
    |         color.title = '#' + pickers[i];
    |         color.addEventListener('click', function (e) {
    |             picker.set.apply(picker, CP.HEX(this.title));
    |             e.stopPropagation();
    |         });
    |         colors.appendChild(color);
    |     }
    |     colors.className = picker.state.class + '__colors';
    |     picker.self.appendChild(colors);
    | }
    |
    | const picker = new CP(document.querySelector('input'));
    |
    | picker.on('change', function (r, g, b, a) {
    |     this.source.value = this.color(r, g, b, a);
    |     document.body.style.backgroundColor = this.color(r, g, b, a);
    | });
    |
    | preDefineColorValues(picker, [
    |     'e8ecfb',
    |     'b997c7',
    |     '824d99',
    |     '4e78c4',
    |     '57a2ac',
    |     '7eb875',
    |     'd0b541',
    |     'e67f33',
    |     'ce2220',
    |     '521a13'
    | ]);

block content
  main
    p Set pre-defined color value in the color picker panel.
    p: input(type='text' value='#ffffff')