extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Color Picker'

block style
  style
    | .color-picker {
    |   border: 1px solid;
    |   border-color: var(--stroke-color-picker__controls);
    |   cursor: pointer;
    |   display: inline-block;
    |   height: 30px;
    |   width: 30px;
    | }
    |
    | .color-picker__dialog {
    |   margin-top: -1px;
    | }

block script
  script
    | function replaceWithColorBox(source) {
    |     if (source.hasColorBox) {
    |         return;
    |     }
    |     source.hasColorBox = true;
    |     let box = document.createElement('span'),
    |         color = source.value;
    |     box.value = color; // Hacky :(
    |     box.style.backgroundColor = color;
    |     source.parentNode.insertBefore(box, source);
    |     source.type = 'hidden';
    |     const picker = new CP(box);
    |     box.className = picker.state.class;
    |     picker.on('change', function (r, g, b, a) {
    |         let color = this.color(r, g, b, a);
    |         source.value = color;
    |         this.source.value = color; // Hacky :(
    |         this.source.style.backgroundColor = color;
    |     });
    | }
    |
    | replaceWithColorBox(document.querySelector('input'));

block content
  main
    p Replace text input with hidden input.
    p: input(type='text' value='#f00')