extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Color Picker'

block style
  style
    | .color-picker__dialog--static {
    |   box-shadow: none;
    |   display: inline-block;
    |   left: 0 !important;
    |   position: static;
    |   top: 0 !important;
    |   vertical-align: middle;
    | }

block script
  script
    | function enableStaticColorPicker(picker, container) {
    |     if (picker.isStatic) {
    |         return;
    |     }
    |     picker.isStatic = true;
    |     // Disable default blur and focus behavior
    |     picker.on('blur', () => {});
    |     picker.on('focus', () => {});
    |     picker.on('change', function (r, g, b, a) {
    |         this.source.value = this.color(r, g, b, a);
    |     });
    |     // Add a `is-static` class to the color picker panel
    |     picker.self.classList.add(picker.state.class + '__dialog--static');
    |     // Put color picker panel to `container`
    |     picker.enter(container);
    | }
    |
    | const picker = new CP(document.querySelector('input'));
    |
    | enableStaticColorPicker(picker, document.querySelectorAll('p')[1]);

block content
  main
    p: input(type='text')
    p= ""
    p Simple #[em hack] to make a static color picker panel.