extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Color Picker'

block style
  style
    | input {
    |   display: block;
    |   float: left;
    |   margin: 0;
    |   padding: 0;
    |   border: 0;
    |   outline: 0;
    |   width: 5%;
    |   font: normal normal 30px/1.4em sans-serif;
    |   color: black;
    |   text-align: center;
    | }
    |
    | p {
    |   overflow: hidden;
    |   width: 120%;
    | }

block script
  script
    | let container = document.createDocumentFragment(),
    |     input, color;
    |
    | for (let i = 0; i < 800; ++i) {
    |     color = ('00000' + (Math.random() * (1 << 24) | 0).toString(16)).slice(-6); // Random HEX color
    |     input = document.createElement('input');
    |     input.type = 'text';
    |     input.value = '#' + color;
    |     input.style.backgroundColor = '#' + color;
    |     (new CP(input)).on('change', function (r, g, b, a) {
    |         this.source.value = this.color(r, g, b, a);
    |         this.source.style.backgroundColor = this.color(r, g, b, a);
    |     });
    |     container.appendChild(input);
    | }
    |
    | document.querySelectorAll('p')[1].appendChild(container);

block content
  main
    p Always positioned itself in any reachable area on the screen. Try resizing your window!
    p= ""