extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Color Picker'

block style
  style
    | .color-picker.is-static {
    |   display: inline-block;
    |   position: static;
    |   left: 0 !important;
    |   top: 0 !important;
    |   box-shadow: none;
    | }

block script
  script
    | function staticColorPicker(picker, container) {
    |     // Disable default blur and focus behavior
    |     picker.on('blur', () => {});
    |     picker.on('focus', () => {});
    |     picker.on('change', function(r, g, b, a) {
    |         this.source.value = this.color(r, g, b, a);
    |     });
    |     // Add a `is-static` class to the color picker pane
    |     picker.self.classList.add('is-static');
    |     // Put color picker pane to `container`
    |     picker.enter(container);
    | }
    |
    | const picker = new CP(document.querySelector('input'));
    |
    | staticColorPicker(picker, document.querySelectorAll('p')[1]);

block content
  main
    p: input(type="text")
    p= ""
    p Simple #[em hack] to make a static color picker pane.
